{% extends "layout.html" %}

<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

{% block body %}
  <h1>Please enter you user name and password</h1>

{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

<form method="POST" action="/loginU">
<p>Username: <input type="text" name="name" required/> </p>
<p>Password: <input type="password" name="psw" required/> <input type="submit" value="Login"></p>
</form>

{% endblock %}

</html>