<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>What kind of wine are you looking for?</h1>


  <p>Grape type: <input type="text" name="grape_type" required/> </p>
  <p>Winery: <input type="text" name="winery" required/> </p>
  <p>Country: <input type="text" name="country" required/> </p>
  <p>Province: <input type="text" name="province" required/> </p>
  <p>Sub-region 1: <input type="text" name="region1" required/> </p>
  <p>Sub-region 2: <input type="text" name="region2" required/> </p>
  <p>Vinyard: <input type="text" name="vinyard" required/> </p>
  <p><a href="/noWine">Submit</a>

</body>


</html>