{% extends "layout.html" %}

<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

{% block body %}
  <div>Here's a list of wines you asked for...</div>

   {% for item in data %}
      <div>{{item}}</div>
      <!--<div><a href="/wineInfo">{{item}}</a></div>-->
   {% endfor %}

{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

{% endblock %}

  <p> Did not find the one your are looking for? What about adding it? </p>
  <p><a href="/addWine">Add Wine</a></p>

</html>